.header,
.order-summary,
.cart-items,
.payment-section,
.footer {
  background-color: Aquamarine;
  height: 10rem;
  margin: 1rem;
  border: 1px solid grey;
}

@media (min-width: 800px) {
  .header,
  .order-summary,
  .cart-items,
  .payment-section,
  .footer {
    background-color: lightblue;
  }

  .main {
    display: flex;
  }

  .cart-items {
    flex-grow: 2;
    /* flex-shrink: 1; */
    flex-basis: 0%;
  }

  .order-summary,
  .payment-section {
    flex-grow: 1;
    /* flex-shrink: 5; */
    /* flex-basis: 0%; */
  }
}
