.header,
.order-summary,
.cart-items,
.payment-section,
.footer {
  background-color: Aquamarine;
  height: 10rem;
  margin: 1rem;
  border: 1px solid grey;
}

@media (min-width: 800px) {
  .header,
  .order-summary,
  .cart-items,
  .payment-section,
  .footer {
    background-color: lightblue;
  }

  .main {
    display: grid;
    grid-template-areas:
    'cart order'
    'cart payment';
  }

  .cart-items {
    grid-area: cart;
  }

  .order-summary {
    grid-area: order;
  }

  .payment-section {
    grid-area: payment;
  }


}
